.map-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    @media (max-width:600px) {
        flex-direction: column-reverse;
    }
}

.store-location-card {
    border: 1px solid rgba(154, 153, 153, 0.364);
}

.store-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    @media (max-width:600px) {
        width: 100%;
    }
}