.map-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.store-location-card{
    border: 1px solid rgba(154, 153, 153, 0.364);
}

.store-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}